<%= render "shared/header" %>

<div class=user_name>
  <%=link_to image_tag(@tweet.user.avatar), user_path(@tweet.user.id), method: :get %>
  <%=link_to @tweet.user.name, user_path(@tweet.user.id), method: :get %>
</div>

<div class="show_image">
  <%= image_tag @tweet.image %>
</div>

<% if @tweet.user.id == current_user.id%>
  <div class=show_user>
    <%= link_to "編集", edit_tweet_path(@tweet.id), method: :get, class: "show_btn" %>
    <%= link_to "削除", tweet_path, method: :delete, class:"show_btn" %>
  </div>
<% end %>

<table border="1" class="table">
  <tbody>
    <tr>
      <th>料理名</th>
      <th><%= @tweet.name%></th>
    </tr>
    <tr>
      <th>材料</th>
      <th><%= @tweet.ingredient%></th>
    </tr>
    <tr>
      <th>作り方</th>
      <th><%= @tweet.make%></th>
    </tr>
  </tbody>
</table>
