<%= render "shared/header" %>
<div class=user_name>
  <%= image_tag @user.avatar%>
  <%= @user.name %>さんの投稿一覧 
</div>
<% if current_user.id == @user.id%>
  <div class="edit_user">
  <%= link_to "編集する", edit_user_registration_path, method: :get %>
  </div>
<% end %>
  <%= render partial: 'tweets/tweets', locals: { tweets: @tweets} %>
